<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    <!-- Adding Contacts-->
      <!-- Why is toggle not working? -->
      <button ng-click="isCollapsed = !isCollapsed">Toggle Add</button>    
      <div collapse="isCollapsed">
           <h1>Add Item</h1>

          
          <input type="text" placeholder="Name of Item" ng-model="itemName">
          <br/>

          <p ng-repeat="item in items">{{item.name}} - {{item.year}}
          <button onclick="pubMethods.deleteItem(event)" value="{{item.name}}">X</button>
          </p>


         <!--  <button ng-click="addItem()">Add to list</button>-->


          <button onclick="pubMethods.addItem()">Add to list</button>


      </div><!-- End addItem -->

    </div>

    <div class="col-md-10">

    
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          
          
        </li>
      </ul>

    </div>
  </div>
</div>
