<!doctype html>
<html lang="en" ng-app="contactsApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>Contacts</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>





  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/hammer.js/hammer.js"></script>
  <script src="bower_components/greensock/src/minified/utils/Draggable.min.js"></script>
  <script src="bower_components/greensock/src/minified/TweenLite.min.js"></script>
  <script src="bower_components/greensock/src/minified/easing/EasePack.min.js"></script>
  <script src="bower_components/greensock/src/minified/plugins/CSSPlugin.min.js"></script>
  <script src="bower_components/jQuery-Knob-master/dist/jquery.knob.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

  
  </head>
<body oncontextmenu="return false">

<div ng-app="contactsApp" ng-controller="ContactController">




  <header>
    <!-- <img src="./img/hamburger.png" class="hamburger" /> -->
    <h1>Contacts</h1>
    <div ng-show="contactsHideShow">
      <div id="bigPhoto"><img ng-src='img/{{ contact.photo }}' /></div>
      <a href ng-click="add(contact.id)" id="addButton"><img src="./img/add_btn.png" /></a>
    </div>
    
  </header>



  <div class="knobBG">
      <!-- <input type="text" id="scrollknob" class="knob" data-width="100" data-cursor=true value="0"> -->
      <input id="scrollknob" class="knob" 
          data-angleOffset="-95" 
          data-angleArc="90" 
          data-fgColor="#40c9c5" 
          data-bgColor="#ddd" 
          data-rotation="clockwise" 
          value="0" 
          data-thickness=".08" 
          data-width="250" 
          data-linecap="round" 
          data-displayInput="false"
          data-cursor="true"
          >
  </div>

  <div class="gradient"></div>

  <div id="actionToggle"></div>
  <div id="actionPhone" class="actionItems bounce"><img src="./img/call_btn.png" /></div>
  <div id="actionText" class="actionItems bounce"><img src="./img/text_btn.png" /></div>

  <div id="container">      
    <div id="main">
      <div ng-show="hideShow">

          <!-- <form class="well"> -->
              <div ng-show="hideShow">
                <div ng-show="editHideShow">
                  <a href="javascript:void(0)" value="Cancel" ng-click="cancel()" id="backButton" /><img src="./img/back_btn.png" /></a>
                  <a href="javascript:void(0)" ng-click="edit(contact.id)" id="editButton"><img src="./img/edit_btn.png" /></a>
                </div>
              </div>
              <!-- <img ng-src='img/bigc1.png' class="bigPic" /> -->

              <img id="photo" ng-src='img/{{ newcontact.bigPhoto }}'/>

<!--               <label>Name</label> -->
              <div class="details subheader nameSub">Name</div>
              <input type="text" id="name" name="name" ng-model="newcontact.name" class="titleName" readonly/>
              
              <!-- <label>Phone</label> -->
              <div class="details subheader">Phone</div>
              <input type="text" id="phone" name="phone" ng-model="newcontact.phone" />

              <!-- <label>Email</label> -->
              <div class="details subheader">Email</div>
              <input type="text" id="email" name="email" ng-model="newcontact.email" />

              <br/>
              <input type="hidden" ng-model="newcontact.id" />
              
              <a href="javascript:void(0)" ng-click="saveContact()" id="saveButton">Save</a>

              <a href="javascript:void(0)" ng-click="cancel()" id="cancelButton">Cancel</a>


              <!-- <input type="button" value="Cancel" ng-click="cancel()" class="btn btn-primary" /> -->

          <!-- </form> -->
        </div>

        
        <div ng-show="contactsHideShow">
          

          <ul id="people">
              <li ng-repeat="contact in contacts | orderBy: 'name'" id="contact-{{contact.id}}">

                <div class="subContainer">
                  <div ng-show="{{GetSeparator(contact)}}" class="subheader">
                  {{contact.alphabet}}
                  </div>
                </div>


                <a href="javascript:void(0)" ng-click="details(contact.id)" >
                <div class="contactName"><img ng-src='img/{{ contact.photo }}' />{{ contact.name }}</div>
              
                <!-- <td> <a href="javascript:void(0)" ng-click="edit(contact.id)" >edit</a> | <a href="javascript:void(0)" ng-click="delete(contact.id)">delete</a> --></a>
                <div class="divider"></div>
              </li>
          </ul>
        </div>
      </div>
        
    </div>
  </div>
  <div id="overlay"></div>
</div>


  

</body>
</html>
